@use "./tokens" as *;

a {
  text-decoration: none;
  color: inherit;
}

.ui-input {
  display: grid;
  gap: 6px;

  label {
    font-size: 0.9rem;
    opacity: 0.85;
  }

  input {
    padding: 6px;
    border: 1px solid $ui-border;
    border-radius: $ui-radius;
    outline: none;

    &:focus {
      border-color: $ui-focus;
    }
  }
}

.ui-view {
  &--view {
    display: flex;
    flex-direction: column;
  }

  &--flex {
    display: flex;
  }
}

.ui-tile {
  background-color: #ddd;
  border: 1px solid #232323;
  border-radius: 12px;
  box-shadow: 2px 2px 6px 0 #232323;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__header {
    background-color: rgba(23, 23, 23, 0.5);
    backdrop-filter: blur(5px);
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 12px;
    box-shadow: 1px 1px 6px 0 black;
    color: #ccc;
    position: relative;
    z-index: 2;
  }

  &__content {
    position: relative;
    Z-index: 1;
    width: 100%;
    height: 100%;
    color: #eee;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }

  &--link {
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: .3s;
    }
  }
}

.ui-button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s;
  box-sizing: border-box;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #222;
  }
}

.ui-icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}