@forward "./tokens";
@use "./components";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.ui-main {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}