@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  label {
    color: grey;
  }

  input {
    border: 1px solid grey;
    border-radius: 0;
    outline: none;
    padding: 4px 8px;
  }
}